@charset "UTF-8";

$image-size:(
	"img/ico_help.png":(
		width:36px,
		height:36px
	),
	"img/sprite/foo_112233.png":(
		width:76px,
		height:36px
	),
	"img/sprite/hoge-fuga.png":(
		width:76px,
		height:76px
	),
);


